.content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3vh;
}

.header {
  text-align: center;
  font-size: 8vh;
  margin-top: -2vh;
  margin-bottom: 1vh;
}

.listLeft {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  height: 63vh;
  margin-right: 3vh;
  text-align: center;
  overflow: auto;
}
.listRight {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  height: 63vh;
  margin-right: 3vh;
  text-align: center;
  overflow: auto;
}

.call {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  margin-bottom: 3vh;
  height: 30vh;
  overflow: hidden;
}

.listItems {
  padding-left: 25px;
  font-size: 4vh;
  font-weight: 500;
  text-align: start;
  border-bottom: 1px solid black;
}

.callItem {
  font-size: 10vh;
  text-align: center;
  margin-top: -3px;
  animation: shadowmove 5s infinite;
}

@keyframes shadowmove {
  50% {text-shadow: 0px 0px 20px red}
}
