.container{
    margin-top: 20px;
}

.logo2{
    text-align: end;
}

.logoRaven{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.logoName{
    color: white;
}